{% extends "base.html" %}

{% block main_content %}
<div class="highlight wrap">
<p>The Impactomatrix was developed within Cluster 1 of <a href="https://de.dariah.eu/">DARIAH-DE</a> and is documented in the following DARIAH Working Paper (in German): Timo Gnadt, Viola E. Schmitt, Juliane Stiller, Klaus Thoden. "Faktoren und Kriterien für den Impact von DH-Tools und Infrastrukturen". DARIAH-DE Working Papers Nr. 21. Göttingen: DARIAH-DE, 2017. Online:
  <a href="http://nbn-resolving.de/urn:nbn:de:gbv:7-dariah-2017-1-7">Download PDF</a></p>
<p>
You can access the repository on <a href="https://github.com/DARIAH-DE/Impactomatrix">Github</a>.
</p>
</div>

{% endblock %}
