{% extends "base.html" %}

{% block breadcrumb %}
  <a href="index.html" class="nounder">Overview / </a>
   {{ name }}
{% endblock%}

{% block main_content %}

<div id="content" class="primary-area">
  <aside id="sidebar">
    <h2>Factors</h2>
    <ul>
      <li>Appealing layout/web surface</li>
      <li>User support</li>
      <li>Operability/Usability</li>
      <li>Conservation of data</li>
      <li>Data management</li>
      <li>DH functionalities</li>
      <li>Documentation of functionalities</li>
      <li>Documentation of code</li>
      <li>Embedding of available digital databases/software/tools</li>
      <li>User involvement</li>
      <li>Integration into scientific workflows</li>
      <li>Integration into the filesystem</li>
      <li>Meaningful &amp; significant name</li>
      <li>Import/Export-functionalities</li>
      <li>Interoperability with digital resources</li>
      <li>Configurable functionalities</li>
      <li>Workflow management</li>
      <li>Multilingualism</li>
      <li>User surveys &amp; tests</li>
      <li>Performance</li>
      <li>Technical support</li>
      <li>Support of open file formats</li>
      <li>Usage &amp; support of standards</li>
      <!-- li elements -->
    </ul>
  </aside>
  <section id="middle">
    <h2>Coherence</h2>
    <p>
      Coherence is particularly important for all stakeholder groups.
      Coherence encompasses aspects such as usability, customized
      functionality, integration into the workflow and targeted design.
    </p>
    <p>The high prioritization of coherence is derived above all
      from the strong emphasis on usability aspects, which is strongly
      emphasized in the surveys. (Gnadt et al. 2016, p. 30)</p>
  </section>
  <aside id="sidebar">
    <h2>Criteria</h2>
    <ul>
      <li>Respect/Authority/Acceptance within community (qualitatively)</li>
      <li>Documentations (quality &amp; extent)</li>
      <li>Feedback from surveys &amp; tests (qualitatively)</li>
      <li>User (number/growth/rate)</li>
      <li>Use (intensity/duration)</li>
      <li>Use (extent/width)</li>
      <li>Usage of integrated databases/software/tools</li>
      <li>Performance (indicators)</li>
      <li>Stability (indicators)</li>
    </ul>
  </aside>
</div>
{% endblock %}
