{% extends "base.html" %}

{% block main_content %}

<div id="content" class="primary-area">
  <aside id="sidebar">
    <h2>Factors</h2>
    <ul>
      <li>Open-source (offer)</li>
      <li>Anonymity (collaboration &amp; communication)</li>
      <li>Operability/Usability</li>
      <li>Providing information and outcomes</li>
      <li>Community-Buildung</li>
      <li>Dissemination of data</li>
      <li>DH functionalities</li>
      <li>Documentation of functionalities</li>
      <li>Documentation of code</li>
      <li>Embedding of available digital databases/software/tools</li>
      <li>Integration into the filesystem</li>
      <li>Dissemination of knowledge (subject-specific and DH-broad)</li>
      <li>Learnability</li>
      <li>Enabling online-work</li>
      <li>Support of experience exchange</li>
      <li>Import/Export-functionalities</li>
      <li>Interoperability with digital resources</li>
      <li>Collaboration functionalities</li>
      <li>Configurable functionalities</li>
      <li>Workflow management</li>
      <li>Multilingualism</li>
      <li>Stability</li>
      <li>Support of open file formats</li>
      <li>Improved access to resources</li>
      <li>Availability</li>
      <li>Usage &amp; support of standards</li>
      <li>Accessibility</li>
    </ul>
  </aside>
  <section id="middle">
    <h2>Collaboration</h2>
    <p>
      A VRE allows national and international exchange and cooperation
      between researchers/scientists – across Europe and also among
      research disciplines – so VRE makes collaboration possible
      across disciplinary and geographical boundaries (European Commission 2016,
      p. 36, 37).
    </p>
  </section>
  <aside id="sidebar">
    <h2>Criteria</h2>
    <ul>
      <li>Usage of provided results</li>
      <li>Scientometric success (indicators)</li>
      <li>Dissemination within other communities</li>
      <!-- li elements -->
    </ul>
  </aside>
</div>
{% endblock %}
