{% extends "base.html" %}

{% block main_content %}

<div id="content" class="primary-area">
  <aside id="sidebar">
    <h2>Factors</h2>
    <ul>
      <li>Anonymity (collaboration &amp; communication)</li>
      <li>Community-Buildung</li>
      <li>User involvement</li>
      <li>Dissemination of knowledge (subject-specific and DH-broad)</li>
      <li>Support of experience exchange</li>
      <li>Collaboration functionalities</li>
      <li>Communication facilitation/acceleration</li>
      <li>Workflow management</li>
      <li>Multilingualism</li>
    </ul>
  </aside>
  <section id="middle">
    <h2>Communication</h2>
    <p>
      „Research infrastructures are facilities, resources and services that are used by the research 
      communities to conduct research and foster innovation in their fields. Where relevant, they 
      may be used beyond research, e.g. for […] communication networks“ (European Commission 2016, S. 5).</p>
    <p>Main reason for the use of research infrastructures were
      essentially "work and communication facilitation and acceleration". A
      digital research infrastructure represents a very great opportunity
      and a relief, especially for the area of communication and a
      multidisciplinary (digital) exchange and support in the software
      field. (Gnadt et al. 2016, S. 13, 23).
    </p>
  </section>
  <aside id="sidebar">
    <h2>Criteria</h2>
    <ul>
      <li>Respect/Authority/Acceptance within community (qualitatively)</li>
      <li>Feedback from surveys &amp; tests (qualitatively)</li>
      <li>Dissemination within other communities</li>
    </ul>
  </aside>
</div>
{% endblock %}
