{% extends "base.html" %}


{% block breadcrumb %}
  <a href="index.html" class="nounder">Overview / </a>
   {{ name }}
{% endblock%}


{% block main_content %}

<div id="content" class="primary-area">
  <aside id="sidebar">
    <h2>Factors</h2>
      <ul>
        <li>Open-source (offer)</li>
        <li>Appealing layout/web surface</li>
        <li>Operability/Usability</li>
        <li>Data management</li>
        <li>DH functionalities</li>
        <li>Embedding of available digital databases/software/tools</li>
        <li>User involvement</li>
        <li>Integration into scientific workflows</li>
        <li>Meaningful &amp; significant name</li>
        <li>Recognition value</li>
        <li>Enabling online-work</li>
        <li>Import/Export-functionalities</li>
        <li>Interoperability with other tools</li>
        <li>Public relations</li>
        <li>Performance</li>
        <li>Improved access to resources</li>
        <li>Availability</li>
        <li>Accessibility</li>
      </ul>
  </aside>
  <section id="middle">
    <h2>Competitiveness</h2>
     <p>
        "Virtual research environments are essential components of modern
        research infrastructures and play a crucial role in the productivity
        and competitiveness of research" [AG Virtuelle Forschungsumgebungen
        2011] (Buddenbohm et al. 2014, p. 7) and "for the competitiveness of
        Europe as a research center, such research infrastructures of a
        world-wide nature are
        central".(<a href=" http://www.horizont2020.de/einstieg-forschungsinfrastrukturen.htm"> http://www.horizont2020.de/einstieg-forschungsinfrastrukturen.htm</a>)
    </p>
  </section>
  <aside id="sidebar">
    <h2>Criteria</h2>
        <ul>
          <li>Respect/Authority/Acceptance within community (qualitatively)</li>
          <li>Feedback from surveys &amp; tests (qualitatively)</li>
          <li>Usage of integrated databases/software/tools</li>
          <li>Performance (indicators)</li>
          <li>Stability (indicators)</li>
          <li>Availability (indicators)</li>
        </ul>
  </aside>
  </div>

{% endblock %}
