{% extends "base.html" %}

{% block main_content %}

<div id="content" class="primary-area">
  <aside id="sidebar">
    <h2>Factors</h2>
    <ul>
      <li>Open-source (offer)</li>
      <li>Anonymity (collaboration &amp; communication)</li>
      <li>Evaluable server logs</li>
      <li>Conservation of data</li>
      <li>Data management</li>
      <li>Measures for long-term use &amp; storage</li>
      <li>Performance</li>
      <li>Stability</li>
      <li>Software-interfaces</li>
      <li>Technical support</li>
    </ul>
  </aside>
  <section id="middle">
    <h2>Data Security/ Safety</h2>
    <p>
      Basic requirement for working with digital tools within virtual
      environments/research infrastructures (Gnadt et al. 2016).
    </p>
  </section>
  <aside id="sidebar">
    <h2>Criteria</h2>
    <ul>
      <li>Use of (used) standards</li>
      <li>Stability (indicators)</li>
    </ul>
  </aside>
</div>
{% endblock %}
