{% extends "base.html" %}

{% block main_content %}

<div id="content" class="primary-area">
  <aside id="sidebar">
    <h2>Factors</h2>
    <ul>
      <li>Open-source (offer)</li>
      <li>Anonymity (collaboration &amp; communication)</li>
      <li>Appealing layout/web surface</li>
      <li>Providing information and outcomes</li>
      <li>Community-Buildung</li>
      <li>Dissemination of data</li>
      <li>Meaningful &amp; significant name</li>
      <li>Dissemination of knowledge (subject-specific and DH-broad)</li>
      <li>Recognition value</li>
      <li>Support of experience exchange</li>
      <li>Interoperability with other tools</li>
      <li>User surveys &amp; tests</li>
      <li>Support of successful scientists</li>
      <li>Support of open file formats</li>
      <li>Accessibility</li>
    </ul>
  </aside>
  <section id="middle">
    <h2>Dissemination</h2>
    <p>
      Publication and dissemination of data, increasing user
      accessibility; expansion of networks.
    </p>
    <p>
      Basic requirement: „[A]n attractive, usable interface […]“
      (Warwick et al. 2006, S. 7,8) and „a good dissemination strategy“
      (Warwick 2012, S. 12).
    </p>
  </section>
  <aside id="sidebar">
    <h2>Criteria</h2>
    <ul>
      <li>Publication of data</li>
      <li>Documentations (quality &amp; extent)</li>
      <li>Feedback from surveys &amp; tests (qualitatively)</li>
      <li>User (number/growth/rate)</li>
      <li>Usage of provided results</li>
      <li>Re-use of code (e.g. github branches)</li>
      <li>Scientometric success (indicators)</li>
      <li>Dissemination within other communities</li>
      <li>Scientific publications</li>
      <li>Scientific theses</li>
    </ul>
  </aside>
</div>
{% endblock %}
