{% extends "base.html" %}

{% block main_content %}

<div id="content" class="primary-area">
  <aside id="sidebar">
    <h2>Factors</h2>
    <ul>
      <li>User support</li>
      <li>Evaluable server logs</li>
      <li>Operability/Usability</li>
      <li>Data management</li>
      <li>DH functionalities</li>
      <li>Documentation of functionalities</li>
      <li>Embedding of available digital databases/software/tools</li>
      <li>Integration into scientific workflows</li>
      <li>Integration into the filesystem</li>
      <li>Learnability</li>
      <li>Enabling online-work</li>
      <li>Interoperability with digital resources</li>
      <li>Collaboration functionalities</li>
      <li>Communication facilitation/acceleration</li>
      <li>Workflow management</li>
      <li>Performance</li>
      <li>Scalability &amp; modularity</li>
      <li>Improved access to resources</li>
      <li>Usage &amp; support of standards</li>
    </ul>
  </aside>
  <section id="middle">
    <h2>Efficiency</h2>
    <p>
      "Efficiency describes the extent to which time or effort is well
      used for the intended task or purpose. In general, efficiency is
      a measureable concept, quantitatively determined by the ratio of
      output to maximal possible input." (Bellini 2014, p. 14)
    </p>
    <p>
      To increase impact in this area, measures should be taken – as
      well as in the field effectiveness - like easy handling,
      embedding in scientific workfklows and providing assistance for
      users.
    </p>
    <p>
      Whether these measures are (really) successful in increasing the
      efficiency and the effectiveness, can be demonstrated by using
      various indicators like intensity and extent of use, as well as
      the reputation and the acceptance within the community. (Gnadt et al. 2016)
    </p>
  </section>
  <aside id="sidebar">
    <h2>Criteria</h2>
    <ul>
      <li>Respect/Authority/Acceptance within community (qualitatively)</li>
      <li>Feedback from surveys &amp; tests (qualitatively)</li>
      <li>Costs for resources (negative growths)</li>
      <li>Use (intensity/duration)</li>
      <li>Use (extent/width)</li>
      <li>Usage of integrated databases/software/tools</li>
      <li>Use of (used) standards</li>
      <li>Performance (indicators)</li>
      <li>Search functionality (success rate)</li>
    </ul>
  </aside>
</div>
{% endblock %}
