{% extends "base.html" %}

{% block main_content %}

<div id="content" class="primary-area">
  <aside id="sidebar">
    <h2>Factors</h2>
    <ul>
      <li>Open-source (offer)</li>
      <li>Appealing layout/web surface</li>
      <li>Operability/Usability</li>
      <li>Providing information and outcomes</li>
      <li>Community-Buildung</li>
      <li>Dissemination of data</li>
      <li>Documentation of functionalities</li>
      <li>Embedding of available digital databases/software/tools</li>
      <li>User involvement</li>
      <li>Meaningful & significant name</li>
      <li>Dissemination of knowledge (subject-specific and DH-broad)</li>
      <li>Recognition value</li>
      <li>Support of experience exchange</li>
      <li>Communication facilitation/acceleration</li>
      <li>Configurable functionalities</li>
      <li>Public relations</li>
      <li>Regular updates (contents & functionalities)</li>
      <li>Support of successful scientists</li>
      <li>Availability</li>
      <li>Accessibility</li>
    </ul>
  </aside>
  
  <section id="middle">
    
    <h2></h2>
    <p>
      <i>External Impact means that ...</i>
    <p>
      
  </section>

  <aside id="sidebar">
    <h2>Criteria</h2>
    <ul>
      <li>Respect/Authority/Acceptance within community (qualitatively)</li>
      <li>Feedback from surveys & tests (qualitatively)</li>
      <li>User (number/growth/rate)</li>
      <li>Usage of provided results</li>
      <li>Re-use of code (e.g. github branches)</li>
      <li>Scientometric success (indicators)</li>
      <li>Support of open data formats</li>
      <li>Dissemination within other communities</li>
      <li>Scientific publications</li>
      <li>Scientific theses</li>
    </ul>
  </aside>
</div>
{% endblock %}
