{% extends "base.html" %}

{% block main_content %}

<div id="content" class="primary-area">
  <aside id="sidebar">
    <h2>Factors</h2>
    <ul>
      <li>Open-source (offer)</li>
      <li>Interoperability with digital resources</li>
      <li>Re-usability of infrastructure</li>
      <li>Public relations</li>
      <li>Support of successful scientists</li>
      <li>Improved access to resources</li>
      <li>Usage &amp; support of standards</li>
    </ul>
  </aside>
  <section id="middle">
    <h2>Funding Perspective</h2>
    <p>
      The virtual research environment needs, from a funding
      perspective, potential and innovation power.
    </p>
  </section>
  <aside id="sidebar">
    <h2>Criteria</h2>
    <ul>
      <li>Respect/Authority/Acceptance within community (qualitatively)</li>
      <li>User (number/growth/rate)</li>
      <li>Usage of provided results</li>
      <li>Scientometric success (indicators)</li>
      <li>Dissemination within other communities</li>
      <li>Scientific publications</li>
    </ul>
  </aside>
</div>
{% endblock %}
