{% extends "base.html" %}

{% block main_content %}

<div id="content" class="primary-area">
  <aside id="sidebar">
    <h2>About</h2>
    <p>The Impact-o-Matrix</p>
  </aside>
  
  <section id="middle">
    <h2><center>Impact areas</center></h2>

    <div class="list-type4">
      <ol>
        <li><a href="external-impact.html">External Impact</a></li>
        <li><a href="eduction.html">Education</a></li>
        <li><a href="data-security.html">Data Security / Safety</a></li>
        <li><a href="dissemination.html">Dissemination</a></li>
        <li><a href="effectivity.html">Effectivity</a></li>
        <li><a href="efficiency.html">Efficiency</a></li>
        <li><a href="funding-perspective.html">Funding Perspective</a></li>
        <li><a href="innovation.html">Innovation</a></li>
        <li><a href="integration.html">Integration</a></li>
        <li><a href="coherence.html">Coherence</a></li>
        <li><a href="collaboration.html">Collaboration</a></li>
        <li><a href="communication.html">Communication</a></li>
        <li><a href="transfer-expertise.html">Transfer of Expertise</a></li>
        <li><a href="sustainability.html">Sustainability</a></li>
        <li><a href="usage.html">Usage</a></li>
        <li><a href="publications.html">Publications</a></li>
        <li><a href="relevance.html">Relevance</a></li>
        <li><a href="reputation.html">Reputation</a></li>
        <li><a href="transparency.html">Transparency</a></li>
        <li><a href="competitiveness.html">Competitiveness</a></li>
        <li><a href="transfer-knowledge.html">Transfer of Knowledge</a>
        </li>
      </ol>
    </div>
  </section>

  <aside id="sidebar">
    <h2>Background</h2>
    <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
  </aside>
  
</div>

{% endblock %}
