{% extends "base.html" %}

{% block breadcrumb %}
  <a href="index.html" class="nounder">Overview / </a>
   {{ name }}
{% endblock%}

{% block main_content %}

<div id="content" class="primary-area wrap">
  <aside id="sidebar">
    <h2>About</h2>
    <p>
      The Impactomatrix is an interactive website that gives you the
      possibility to boost the impact of your digital tools and infrastructure components. </p>
    <p>
      Based on a selection of 21 areas of impact, corresponding
      factors can be chosen that will influence the specific area.
      Additionally, criteria are available which are helpful in
      measuring changes in the selected impact area.</p>
      <p>The Impactomatrix is based on an intensive literature review as well as interviews and survey. We compiled a <a href="references.html">list of references</a> used in this project.
    </p>
  </aside>

  <section id="middle">
    <h2><center>Impact areas</center></h2>

    <div class="list-type4">
      <ol>
        <li><a href="external-impact.html">External Impact</a></li>
        <li><a href="education.html">Education</a></li>
        <li><a href="data-security.html">Data Security / Safety</a></li>
        <li><a href="dissemination.html">Dissemination</a></li>
        <li><a href="effectivity.html">Effectivity</a></li>
        <li><a href="efficiency.html">Efficiency</a></li>
        <li><a href="funding-perspective.html">Funding Perspective</a></li>
        <li><a href="innovation.html">Innovation</a></li>
        <li><a href="integration.html">Integration</a></li>
        <li><a href="coherence.html">Coherence</a></li>
        <li><a href="collaboration.html">Collaboration</a></li>
        <li><a href="communication.html">Communication</a></li>
        <li><a href="transfer-of-expertise.html">Transfer of Expertise</a></li>
        <li><a href="sustainability.html">Sustainability</a></li>
        <li><a href="usage.html">Usage</a></li>
        <li><a href="publications.html">Publications</a></li>
        <li><a href="relevance.html">Relevance</a></li>
        <li><a href="reputation.html">Reputation</a></li>
        <li><a href="transparency.html">Transparency</a></li>
        <li><a href="competitiveness.html">Competitiveness</a></li>
        <li><a href="transfer-of-knowledge.html">Transfer of Knowledge</a>
        </li>
      </ol>
    </div>
  </section>

  <aside id="sidebar">
    <h2>Background</h2>
    <p>
      Digital research environments in the arts and humanities have to
      deal with the question what value they provide for the
      scientific community and how they should make the best use of
      their granted money.
    </p>
    <p>
      For digital tools and infrastructure components in the Digital
      Humanities, it is essential to define how they are impacting
      research practices in the Humanities and beyond. Understanding
      these implications will help to increase the visibility and
      transparency, communicate their benefits to potential
      researchers and funding agencies and strengthen the influence of
      digital research in the Humanities. The Impactomatrix gathers
      impact factors and success criteria for assessing projects in
      the arts and humanities.
    </p>
    <p>
      When assessing these projects, it is not sufficient to rely only
      on quantitative criteria. Qualitative criteria have to be taken
      into account, as well. Besides this, the impactomatrix aims at
      providing a methodological basis for determining the value of
      developments in the Digital Humanities in general.
    </p>
  </aside>

</div>

{% endblock %}
