{% extends "base.html" %}

{% block main_content %}

<div id="content" class="primary-area">
  <aside id="sidebar">
    <h2>About</h2>
    <p>
      The Impactomatrix is an interactive website that gives you the
      possibility to boost the impact of your digital tool. </p>
    <p>
      Based on a selection of 21 areas of impact, corresponding
      factors can be chosen that will influence the specific area.
      Additionally, criteria are available which are helpful in
      measuring changes in the selected impact area.
    </p>
  </aside>
  
  <section id="middle">
    <h2><center>Impact areas</center></h2>

    <div class="list-type4">
      <ol>
        <li><a href="external-impact.html">External Impact</a></li>
        <li><a href="education.html">Education</a></li>
        <li><a href="data-security.html">Data Security / Safety</a></li>
        <li><a href="dissemination.html">Dissemination</a></li>
        <li><a href="effectivity.html">Effectivity</a></li>
        <li><a href="efficiency.html">Efficiency</a></li>
        <li><a href="funding-perspective.html">Funding Perspective</a></li>
        <li><a href="innovation.html">Innovation</a></li>
        <li><a href="integration.html">Integration</a></li>
        <li><a href="coherence.html">Coherence</a></li>
        <li><a href="collaboration.html">Collaboration</a></li>
        <li><a href="communication.html">Communication</a></li>
        <li><a href="transfer-expertise.html">Transfer of Expertise</a></li>
        <li><a href="sustainability.html">Sustainability</a></li>
        <li><a href="usage.html">Usage</a></li>
        <li><a href="publications.html">Publications</a></li>
        <li><a href="relevance.html">Relevance</a></li>
        <li><a href="reputation.html">Reputation</a></li>
        <li><a href="transparency.html">Transparency</a></li>
        <li><a href="competitiveness.html">Competitiveness</a></li>
        <li><a href="transfer-knowledge.html">Transfer of Knowledge</a>
        </li>
      </ol>
    </div>
  </section>

  <aside id="sidebar">
    <h2>Background</h2>
    <p>
      Digital research environments in the arts and humanities have to
      deal with the question what value they provide for the
      scientific community and how they should their granted money in
      the best way.
    </p>
    <p>
      The Impactomatrix gathers impact factors and success criteria
      for assessing projects in the arts and humanities. On the one
      hand, this can be used for digital tools which are used in the
      Digital Humanities, but also on the other hand for virtual
      research infrastructures who provide such tools.
    </p>
    <p>
      When assessing these projects, it is not sufficient to rely only
      on quantitative criteria. Qualitative criteria have to be taken
      into account, as well. Besides this, the impactomatrix aims at
      providing a methodological basis for determining the value of
      developments in the Digital Humanities in general
    </p>
  </aside>

</div>

{% endblock %}
{% block footer %}
<h4>About</h4>
<p>The Impactomatrix was developed within Cluster 1 of <a href="https://de.dariah.eu/">DARIAH-DE</a> and is documented in the following report (in German): Gnadt, Timo, Juliane Stiller, Klaus Thoden, and Viola Schmitt. 2015. “Finale Version Erfolgskriterien R 1.3.3.” Online:
  <a href="https://wiki.de.dariah.eu/download/attachments/14651583/R133_Erfolgskriterien_Konsortium.pdf">Download PDF</a></p>

{% endblock %}
