{% extends "base.html" %}

{% block main_content %}

<div id="content" class="primary-area">
  <aside id="sidebar">
    <h2>Factors</h2>
    <ul>
      <li>Open-source (offer)</li>
      <li>Community-Buildung</li>
      <li>Dissemination of data</li>
      <li>DH functionalities</li>
      <li>Documentation of code</li>
      <li>User involvement</li>
      <li>Dissemination of knowledge (subject-specific and DH-broad)</li>
      <li>Enabling online-work</li>
      <li>Support of experience exchange</li>
      <li>User surveys & tests</li>
      <li>Regular updates (contents & functionalities)</li>
      <li>Scalability & modularity</li>
      <li>Software-interfaces</li>
      <li>Support of successful scientists</li>
      <li>Improved access to resources</li>
      <li>Accessibility</li>
    </ul>
  </aside>
  
  <section id="middle">
    
    <h2></h2>
    <p>
      <i>Innovation means that ...</i>
    <p>
      
  </section>

  <aside id="sidebar">
    <h2>Criteria</h2>
    <ul>
      <li>Costs for resources (negative growths)</li>
      <li>Usage of provided results</li>
      <li>Re-use of code (e.g. github branches)</li>
      <li>Support of open data formats</li>
      <li>Dissemination within other communities</li>
      <li>Scientific publications</li>
      <li>Scientific theses</li>
    </ul>
  </aside>
</div>

{% endblock %}

