{% extends "base.html" %}

{% block main_content %}

<div id="content" class="primary-area">
  <aside id="sidebar">
    <h2>Factors</h2>
    <ul>
      <li>Evaluable server logs</li>
      <li>Providing information and outcomes</li>
      <li>Data management</li>
      <li>DH functionalities</li>
      <li>Documentation of code</li>
      <li>Embedding of available digital databases/software/tools</li>
      <li>Integration into scientific workflows</li>
      <li>Integration into the filesystem</li>
      <li>Import/Export-functionalities</li>
      <li>Interoperability with other tools</li>
      <li>Interoperability with digital resources</li>
      <li>Collaboration functionalities</li>
      <li>Workflow management</li>
      <li>Measures for long-term use &amp; storage</li>
      <li>Re-usability of infrastructure</li>
      <li>Performance</li>
      <li>Scalability &amp; modularity</li>
      <li>Stability</li>
      <li>Software-interfaces</li>
      <li>Support of open file formats</li>
      <li>Availability</li>
      <li>Usage &amp; support of standards</li>
    </ul>
  </aside>
  <section id="middle">
    <h2>Integration</h2>
    <p>
This means the possibility of combining programs and tools – so they
have requirements for integration and data exchange; (also the
transition between programs and the integration into the workflow is
facilitated) (Gnadt et al. 2016, p. 20)
    </p>
  </section>
  <aside id="sidebar">
    <h2>Criteria</h2>
    <ul>
      <li>Publication of data</li>
      <li>Costs for resources (negative growths)</li>
      <li>Use (intensity/duration)</li>
      <li>Usage of provided results</li>
      <li>Usage of integrated databases/software/tools</li>
      <li>Performance (indicators)</li>
      <li>Stability (indicators)</li>
      <li>Search functionality (success rate)</li>
      <li>Support of open data formats</li>
      <li>Availability (indicators)</li>
    </ul>
  </aside>
</div>
{% endblock %}
