{% extends "base.html" %}

{% block breadcrumb %}
<li class="nav_item -level-1">
  <a class="nav_link" href="index.html">Overview</a>
</li>
<li class="nav_item -level-1">
  <a class="nav_link" href="/"> {{ name }} </a>
</li>
{% endblock%}


{% block main_content %}

<div id="content" class="primary-area">
  <aside id="sidebar">
    <h2>Factors</h2>
    <ul>
      <li>Providing information and outcomes</li>
      <li>Dissemination of data</li>
      <li>Dissemination of knowledge (subject-specific and DH-broad)</li>
      <li>Interoperability with digital resources</li>
      <li>Workflow management</li>
      <li>Measures for long-term use &amp; storage</li>
      <li>Multilingualism</li>
    </ul>
  </aside>
  <section id="middle">
    <h2>Publications</h2>
    <p>
„European infrastructures need to respond to the emerging requirements
for seamless and reliable access to publications, research data and
software. These requirements are complemented by the need for long
term preservation and curation of scientific information to fully
support data and computing intensive science“. (European Commission 2016, p. 4)</p>
<p>Buddenbohm wonders how many and what types of publications and
results are published under the VER use? Can all VER publications and
results be clearly assigned? This criterion is, of course, also
closely related to the subject-specific publication culture.
(Buddenbohm et al. 2014, p. 18)</p>
<p>There should also be an increasing focus on other publishing
opportunities, such as newsletter tools or blogs, or simple ways to
share the content of the VER on social networks. (Rose 2015, p. 56) </p>
  </section>
  <aside id="sidebar">
    <h2>Criteria</h2>
    <ul>
      <li>Usage of provided results</li>
      <li>Scientometric success (indicators)</li>
      <li>Scientific publications</li>
      <li>Scientific theses</li>
    </ul>
  </aside>
</div>
{% endblock %}
