{% extends "base.html" %}

{% block main_content %}

<div id="content" class="primary-area">
  <aside id="sidebar">
    <h2>Factors</h2>
    <ul>
      <li>User support</li>
      <li>Operability/Usability</li>
      <li>Community-Buildung</li>
      <li>DH functionalities</li>
      <li>Documentation of functionalities</li>
      <li>Documentation of code</li>
      <li>User involvement</li>
      <li>Learnability</li>
      <li>Support of experience exchange</li>
      <li>Collaboration functionalities</li>
      <li>Workflow management</li>
      <li>Support of successful scientists</li>
    </ul>
  </aside>
  <section id="middle">
    <h2>Transfer of Expertise</h2>
    <p>
Buddenbohm asks to what extent does the VER contribute to the transfer
of competences within its user community? Typically, this includes
scientific qualifications such as doctoral degrees or dissertations,
as well as imparting non-scientific competences. This criterion covers
the area commonly referred to as teaching, whereas the other
results-oriented criteria cover the area of ​​research. (Buddenbohm et.
al. 2014, p. 18)
    </p>
  </section>
  <aside id="sidebar">
    <h2>Criteria</h2>
    <ul>
      <li>Documentations (quality &amp; extent)</li>
      <li>Usage of integrated databases/software/tools</li>
      <li>Use of (used) standards</li>
      <li>Re-use of code (e.g. github branches)</li>
      <li>Support of open data formats</li>
      <li>Dissemination within other communities</li>
      <li>Scientific publications</li>
      <li>Scientific theses</li>
    </ul>
  </aside>
</div>
{% endblock %}
